<div id="<%= dom_id vente %>">
  <p>
    <strong>Quantity:</strong>
    <%= vente.quantity %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= vente.price %>
  </p>

  <p>
    <strong>Produit:</strong>
    <%= vente.produit.name %>
  </p>

</div>
