<% content_for :title, "Editing vente" %>

<h1>Editing vente</h1>

<%= render "form", vente: @vente %>

<br>

<div>
  <%= link_to "Show this vente", @vente %> |
  <%= link_to "Back to ventes", ventes_path %>
</div>
