<% content_for :title, "Editing produit" %>

<h1>Faire une modification</h1>


<%= render "form", produit: @produit %>

<br>

<div class="d-flex justify-content-around">
  <%= link_to "Retour", produits_path, class:"btn btn-outline-primary" %>
  <%= link_to "Voir +", @produit, class:"btn btn-primary" %> 
</div>
