<div class="container d-flex align-items-center justify-content-center">
  <div class="row">
    <div class="col-md-12 col-md-offset-12">
      <% content_for :title, "New produit" %>

      <h1>Ajouter ouveau produit</h1>

      <%= render "form", produit: @produit %>

      <br>

      <div>
        <%= link_to "Retour", produits_path, class:"btn btn-outline-primary" %>
      </div>
    </div>
  </div>
</div>
