<% content_for :title, "New stock" %>

<h1>New stock</h1>

<div class="container">
  <div class="form-group ">
    <div class="row col-md-12">
      <%= render "form", stock: @stock %>
    </div>
  </div>
<br>

<div>
  <%= link_to "Back to stocks", stocks_path %>
</div>
